{% extends 'index.html' %}
{% load static %}
{% block title %} - All Requests{% endblock %}
    {% block content %}
        <center>
        <h3 class="display-5 mt-3">All Requests</h3>
        <div class="container mt-3">
            
                {% if messages %}
                {% for message in messages %}
                <div class="card text-white {% if 'error' in message.tags %} bg-danger {% else %} bg-info {% endif %} mb-3" style="max-width: 20rem;">
                    <div class="card-header">{% if 'error' in message.tags %} Rejected {% else %} Approved {% endif %}</div>
                    <div class="card-body">
                        <h4 class="card-title">Request {% if 'error' in message.tags %} Rejected {% else %} Approved {% endif %}</h4>
                        <p class="card-text">
                            <ul class="messages">
                                    {{ message }}
                            </ul>
                        </p>
                
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                

        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th>Request No.</th>
                    <th>Enrollment No.</th>
                    <th>Request Date</th>
                    <th>Receipt No.</th>
                    <th>Receipt Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for req in data %}
                <tr class="table-secondary">
                    <td class="text-center" style="color:black">{{req.id}}</td>
                    <td class="text-center" style="color:black">{{req.student_enrollment}}</td>
                    <td class="text-center" style="color:black">{{req.date}}</td>
                    <td class="text-center" style="color:black">{{req.receipt_no}}</td>
                    <td class="text-center" style="color:black">{{req.receipt_date}}</td>
                    <td class="text-center" style="color:black">{{req.amount}}</td>
                    <td class="text-center" style="color:black">{{req.status}}</td>
                    <td class="text-center" >
                        <a style="color:yellow" href="/view_request/{{req.id}}">View</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </center>
    {% endblock %}
</body>
</html>