<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="POST" action="/update/{{emp.id}}">
            {% csrf_token %}
            <div style="color:red; font-size:16px; display: inline-block;">{{ form.errors.eid }}</div><br>
            eid : <input type="number" name="eid" value="{{emp.eid}}" /><br>
            ename : <input type="text" name="ename" value="{{emp.ename}}" /><br>
            email : <input type="text" name="email" value="{{emp.email}}" /><br><br>
            <input type="submit">
        </form>
    </center>
</body>
</html>