{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Bahianita&display=swap" rel="stylesheet">
    <style>
        .captcha{
            letter-spacing: 3px;
            margin: 2%;
            font-style: italic;
            font-family: Bahianita;
            font-size: 25px;
        }
        body,html {
            height: 100%;
        }
    </style>
    <title>Library Fee Refund System {% block title %}- Welcome{% endblock %}</title>
</head>
<body>
        <div class="row h-100 align-items-center">
        <div class="container-fluid col-sm-12 align-self-center">
                <div class="container col-sm-12 card card-block">
                    <h2 class="text-center display-3">Library Fee Refund System</h2>
                     <hr>
                    <div class="row">

                        <div class="col-md-3">
                            <!-------null------>
                        </div>
                        {% block content %}
                        <div class="col-md-5 text-center">
                                <a href="/login/student"><button type="button" class="btn btn-outline-primary">Student Login</button></a>
                                <a href="/login/librarian"><button type="button" class="btn btn-outline-primary ml-4">Librarian Login</button></a>                       
                        </div>
                        {% endblock %}
                    </div>
                </div>
                
        </div>
    </div>
            <footer>
            <p class="text-center">
                <small id="passwordHelpInline" class="text-muted"> Developers:<a href="mailto:aakashtolani80@gmail.com"> Aakash Tolani</a>, <a href="mailto:"> Het Rachh</a> and <a href="mailto:hasijasankalp@gmail.com"> Sankalp Hasija</a>. MCA students @2019</small>
            </p>
            </footer>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>