<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
    <p>body start here</p>
    <nav>
        <ul>
            <li><a href='/add'> add emp</a> </li>
            <li><a href="/show"> show emp </a></li>
        </ul>
    </nav>
    {% block content %}
    <h1>hey there i'm your template... and that's it</h1>
    {% endblock %}

    <p>body ends here</p>
</body>
</html>