{% extends 'index.html' %}

{% block content %}
    <div class="container">

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

        {% if transaction_data is not None %}
            <p> your request No. {{transaction_data.id}} status is : {{transaction_data.status}}</p>
        {% else %}
            
            <h1 style="text-transform: capitalize">You don't have any requests yet!,<br>submit One below</h1>
            <a href="/request" ><button type="button" class="btn btn-outline-primary">Submit Request</button></a>
        
        {% endif %}
    </div>
{% endblock %}