{% extends 'index.html' %}


{% block content %}
    <div class="container-fluid">
        <div class="container align-items-center">
            <h2 class="text-center">Library Fee Due Form</h2>
                <div class="col-md-12">
                <fieldset>
                    <form action="/request/" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                        <label class="control-label" for="application_no">Receipt No.:</label>
                                        {{ form.receipt_no }}
                                </div>    
                            </div>

                            <div class="col">
                                    <div class="form-group">
                                        <label class="col-form-label" for="name">Receipt Date:</label>
                                        {{ form.receipt_date }}
                                    </div>
                                </div>

                            <div class="col">
                                <div class="form-group">
                                    <label class="col-form-label" for="name">Amount Due:</label>
                                    {{ form.amount }}
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label class="col-form-label" for="name">Enrollment No.:</label>
                                    {{ form.student_enrollment }}
                                </div>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label" for="name">Fee Receipt Image:</label>
                                    {{ form.fee_receipt_image }}
                                </div>
                            </div>
                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label" for="name">Cancelled cheque Image:</label>
                                    {{ form.cancelled_cheque_image }}
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                            <div class="form-group">
                                <button class="btn btn-outline-primary" type="submit" >Submit Request >></button>
                            </div>
                        </div>
                        </div>
                    </div>
                    </form>
                </fieldset>
                </div>
        </div>
    </div>
{% endblock %}