{% extends 'index.html' %}

{% block content %}
    <div class="container-fluid mt-4 mt-5 h-100">
        <div class="container align-items-center">
            <h2 class="text-center mb-3">Application For Refund of Library Deposit</h2>
                <div class="col-md-12 h-75">
                        <div class="container">
                                <div style="color:red;text-transform: capitalize;">
                                    <ul>
                                        <li>
                                            <span style="color:black;">fields marked with <span style="color:red;font-size: 21px;">*</span> are compulsory </span>        
                                        </li>
                                        <li>
                                            <span style="color:black;">for student grade history refer GTU site.            
                                        </li>
                                        <li>
                                            if you don't have library fee receipt fine of 100 rs. will be charged.            
                                        </li>
                                        <li>
                                            if you don't have last sem fee receipt fine of 100 rs. will be charged.            
                                        </li>
                                        
                                        <li>
                                            if you Have any BookBank Books pending Price of Book will be Deducted from library fee amount.            
                                        </li>
                                    </ul>
                                </div>
                        </div>
                <fieldset>
                    <form action="/request/" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <div class="row mt-4">

                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label" for="application_no">Receipt No.:</label>
                                    {{ form.receipt_no }}
                                </div>    
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label class="col-form-label" for="name">Receipt Date:</label>
                                    {{ form.receipt_date }}
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label class="col-form-label" for="name">Amount Due:</label>
                                    <span style="color:red;font-size: 21px;">*</span>
                                    {{ form.amount }}
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label class="col-form-label" for="name">Enrollment No.:</label>
                                    {{ form.student_enrollment}}
                                </div>
                            </div>

                    </div>
                    <div class="row mt-4">

                            <div class="col">
                                    <div class="form-group">
                                        <label class="col-form-label" for="name">Grade history Image:</label>
                                        <span style="color:red;font-size: 21px;">*</span>
                                        {{ form.grade_history_image }}
                                    </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label class="col-form-label" for="name">Last Sem Fee Receipt Image:</label>
                                    {{ form.last_sem_fee_image }}
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label class="col-form-label" for="name">Library Fee Receipt Image:</label>
                                    {{ form.fee_receipt_image }}
                                </div>
                            </div>
                            
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <div class="form-group">
                                    <label class="col-form-label" for="name">Cancelled cheque Image:</label>
                                    <span style="color:red;font-size: 21px;">*</span>
                                    {{ form.cancelled_cheque_image }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="col-form-label" for="name">Passbook Front Page Image:</label>
                                    <span style="color:red;font-size: 21px;">*</span>
                                    {{ form.passbook_image }}
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label class="col-form-label" for="name">Any Additional Information:</label>
                                    {{ form.additional_information }}
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <div class="form-group">
                                    <button class="btn btn-outline-primary" type="submit" >Submit Request >></button>
                                </div>
                            </div>
                            <div class="col">
                                    {% if messages %}
                                    <ul style="color:red;">
                                        {% for message in messages %}
                                            <li><b>{{ message }}</b></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                    </form>
                </fieldset>
                
            </div>
        </div>
    </div>
{% endblock %}