{% extends 'accountant/index.html' %}

{% block title %}
    - View Request Accountant
{% endblock %}

{% block content %}
    <div class="containter">

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="text-info"><b>{{ message }}</b></li>
                {% endfor %}
            </ul>
            {% endif %}
        
        {% if data.status == 'approved' %}
        
        <div class="container d-inline-block text-center"> 
            <a href="/decide_acc/{{ data.id }} accepted"><button type="button" class="btn btn-success">Accept Request</button></a>
            <form {% if reason %} method="POST" action="/decide_acc/{{ data.id }} rejectedd" {% endif %} class="d-inline-block ml-4 mt-2 mb-2">
            {% csrf_token %}
            {% if reason %}
            <div class="form-group has-danger">
                <label class="form-control-label" for="inputDanger1">Reason :</label>
                <input type="text" name="reason" placeholder="reason to reject request" class="form-control is-invalid" required>
                <div class="invalid-feedback">why did you reject this request?</div>
            </div>
            {% endif %}
            
            {% if not reason %} 
                <a href="/decide_acc/{{ data.id }} request_acc">
            {% endif %}
                <button {% if reason %} type="submit" {% else %} type="button" {% endif %} class="btn btn-danger">Reject Request</button>
            {% if not reason %} </a>{% endif %} 
            </form>
        </div>  
        {% endif %} 
            <table class="table table-striped mt-4">
                    <tbody>
                      <tr>
                        <th scope="row">Application No.</th>
                        <td>{{data.application_no}}</td>
                        <th scope="row">Application Date</th>
                        <td>{{data.date}}</td>
                      </tr>
                     
                      <tr>
                        <th scope="row">Receipt No.</th>
                        <td>{% if data.receipt_no %} {{data.receipt_no}} {% else %} Not Available {% endif %}</td>
                        <th scope="row">Receipt Date</th>
                        <td>{% if data.receipt_date %} {{data.receipt_date}} {% else %} Not Available {% endif %}</td>
                      </tr>
                      <tr>
                        <th scope="row">Amount</th>
                        <td>
                            <div style="display: inline">
                            {{data.amount}}
                            </div>
                                <form {% if deduct %} method="POST" {%endif%} action='/deduct/{{data.id}} accountant' style="display: inline; overflow: hidden;">
                                    {% csrf_token %}
                                    <div class="form-group has-danger col " style="display: inline; overflow: hidden;">
                                        <input type="number" name="outstanding" value="{{deduct}}" placeholder="- Any OutStanding" style="display: inline; overflow: hidden;"class="form-control-sm form-control is-invalid col-md-3" required>
                                    </div>
                                    <div class="form-group" style="display: inline; overflow: hidden;">
                                        {% if deduct %}
                                            <input type="text" name="out_reason" placeholder="reason of deducting" class="form-control-sm form-control col-md-3"style="display: inline; overflow: hidden;"  required>
                                        {% endif %}
                                        <button type="submit" class="btn btn-outline-danger col-md-2" style="display: inline; overflow: hidden;">Deduct</button>
                                    </div>
                                </form>
                        </td>
                        <th scope="row" rowspan="2">Residential address</th>
                        <td rowspan="2">{{student.resi_address}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Student Name</th>
                        <td>{{student.name}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Student Email</th>
                        <td>{{student.email}}</td>
                        <th scope="row">Student Phone No.</th>
                        <td>{{student.phone_no}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Enrollment No.</th>
                        <td>{{student.enrollment}}</td>
                        <th scope="row">Student Roll No.</th>
                        <td>{{student.rollno}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Semester</th>
                        <td>{{student.semester}}</td>
                        <th scope="row">Division</th>
                        <td>{{student.division}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Additional Information</th>
                        <td>{{data.additional_information}}</td>
                      </tr>
                    {% if data.status != 'pending' %}
                      <tr>
                        <th scope="row">Status</th>
                        <td>{{data.status}}</td>
                        <th scope="row">{{data.status}} Date</th>
                        <td>{{data.action_date}}</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">Reason</th>
                        <td>{{data.reason}}</td>
                      </tr>
                    {% endif %}
                    </tbody>
                  </table>
        <div class="containter w-75 text-center mt-5">
        <div class="row mt-4">
            <div class="col ml-5">
                <h4 class="mb-4">1. library fee receipt image : </h4>
                {% if data.fee_receipt_image != '' %}
                <a href="/image_view/{{ data.id }} fee_receipt">
                    <img src="{{ data.fee_receipt_image.url }}" class="img-fluid " width="500" height="500" alt="Receipt Image">
                </a>
                {% else %}
                    <p>not available</p>
                {% endif %}
            </div>
            <div class="col ml-5">
                <h4 class="mb-4">2. Cancelled Cheque Image : </h4>
                <a href="/image_view/{{ data.id }} cheque">
                    <img src="{{ data.cancelled_cheque_image.url }}" class="img-fluid" width="500" height="500" alt="Cancelled cheque Image">
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col ml-5">
                <h4 class="mb-4">3. Passbook Front Page Image : </h4>
                <a href="/image_view/{{ data.id }} passbook">
                    <img src="{{ data.passbook_image.url }}" class="img-fluid" width="500" height="500" alt="Cancelled cheque Image">
                </a>
            </div>
        </div>

        {% if data.status == 'approved' %}

        <div class="container d-inline-block text-center mt-4"> 
        <a href="/decide_acc/{{ data.id }} accepted"><button type="button" class="btn btn-success">Accept Request</button></a>
        <form {% if reason %} method="POST" action="/decide_acc/{{ data.id }} rejectedd" {% endif %} class="d-inline-block ml-4 mt-2 mb-2">
        {% csrf_token %}
        {% if reason %}
        <div class="form-group has-danger">
            <label class="form-control-label" for="inputDanger1">Reason :</label>
            <input type="text" name="reason" placeholder="reason to reject request" class="form-control is-invalid" required>
            <div class="invalid-feedback">why did you reject this request?</div>
        {% endif %}
        
        {% if not reason %} 
            <a href="/decide_acc/{{ data.id }} request_acc">
        {% endif %}
            <button {% if reason %} type="submit" {% else %} type="button" {% endif %} class="btn btn-danger">Reject Request</button>
        {% if not reason %} </a>{% endif %} 
        </form>
        </div>
        {% endif %}
    </div>
    </div>
    
{% endblock %}

