{% extends 'librarian/index.html' %}

{% block title %} -Change Password {% endblock %}

{% block content %}
<div class="container-fluid vertical-center-row">
        <div class="container mt-4">
            <h3 class="text-center">Change Password</h3>
             <hr>
            <div class="row">

                <div class="col-md-3">
                    <!-------null------>
                </div>
                
                <div class="col-md-5">
                          <form method="POST" action="/change_password/{{ desig }}">
                            {% csrf_token %}
                        <fieldset>							
                                <div class="form-group">
                                    <label
                                    {% if old_error %}
                                        style="color:red"
                                    {% endif %}
                                    class="col-form-label" for="inputDefault" >Old Password:</label>
                                        <input type="password" class="form-control" name="old_pass" placeholder="Old Password" required autofocus>
                                        <div style="color:red;">{{ old_error }}</div>
                                </div>
                                <div class="form-group">
                                    <label
                                    {% if error_match %}
                                        style="color:red;"
                                    {% endif %}
                                     class="col-form-label" for="inputDefault" >New Password:</label>
                                        <input type="password" class="form-control" name="new_pass" placeholder="New Password" required>
                                </div>
                                <div class="form-group">
                                    <label
                                    {% if error_match %}
                                        style="color:red;"
                                    {% endif %}
                                    class="col-form-label" for="inputDefault">Confirm Password:</label>
                                        <input type="password" class="form-control" name="cnf_pass" placeholder="Confirm Password" required>
                                        <div style="color:red;">{{ error_match }}</div>
                                </div>
                            <div>
                                <input type="submit" class="btn btn-primary" value="Change Password">
                            </div>
                                 
                         </fieldset>
                </form>	
                    <div class="row mt-3">
                        <div class="col">
                        <form method="GET" action="/getotp/{{ desig }}">
                            {% csrf_token %}
                            <p>if you forgot old password click get otp</p>
                            <button type="submit" class="btn btn-outline-primary">Get OTP?</button>
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li class="text-info"><b>{{ message }}</b></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </form>
                        </div>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
    