{% extends 'librarian/index.html' %}
{% load static %}
{% block title %} - Register BookBank{% endblock %}
    {% block content %}
    <div class="container-fluid mt-4 mt-5 h-100">
        <div class="container align-items-center">
            <h2 class="text-center mb-3">Register BookBank</h2>
                <div class="col-md-12 h-75">
                <fieldset>
                    <form action="/select_bbank/{% if books %}save{%else%}set_numbers{%endif%}" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <div class="row mt-3 mb-4">
                            <div class="col">
                                <div class="form-group">
                                    <label class="col-form-label" for="inputDefault">Calender :</label>
                                    <input type="text" class="form-control" placeholder="e.g. w19 or s18" name="claender" value="{{calender}}" required>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label class="col-form-label" for="inputDefault">Stream :</label>
                                    <input type="text" class="form-control" placeholder="e.g. mca or imca" name="stream" value="{{stream}}" required>
                                </div>
                            </div>

                        </div>
                        <div class="row mt-3 mb-4">
                            <div class="col">
                                <div class="form-group">
                                    <label class="col-form-label" for="inputDefault">Semester :</label>
                                    <select name="semester" class="form-control">
                                        {% for i in '0123456789'|make_list %}
                                            <option value="{{forloop.counter}}">{{forloop.counter}}</option>
                                        {% endfor %}
                                    </select>
                                    <!-- <input type="number" class="form-control" placeholder="Enter Semester" name="semester" value="{{semester}}" min="1" max="10" required> -->
                                </div>  
                            </div>
                            
                            <div class="col">
                                <div class="form-group">
                                    <label class="col-form-label" for="inputDefault">Number of Books :</label>
                                    <input type="number" class="form-control" placeholder="Number of books to be assigned" name="num" value="{{num}}" min="1" max="4" required>
                                </div>  
                            </div>
                        </div>
                        {% if books %}
                        {% for i in books %}
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="col-form-label" for="inputDefault">Book {{i}} Subject:</label>
                                        <input type="text" class="form-control" placeholder="Subject of Book {{i}}" name="book_{{i}}_subject" required>
                                    </div>  
                                </div>
                                
                                <div class="col">
                                    <div class="form-group">
                                        <label class="col-form-label" for="inputDefault">Book {{i}} Name:</label>
                                        <input type="text" class="form-control" placeholder="Name of Book {{i}}" name="book_{{i}}_name" required>
                                    </div>  
                                </div>
                                
                                <div class="col">
                                    <div class="form-group">
                                        <label class="col-form-label" for="inputDefault">Book {{i}} Author:</label>
                                        <input type="text" class="form-control" placeholder="Book {{i}} Author" name="book_{{i}}_author" required>
                                    </div>  
                                </div>
                                
                                <div class="col">
                                    <div class="form-group">
                                        <label class="col-form-label" for="inputDefault">Book {{i}} Msn Number:</label>
                                        <input type="text" class="form-control" placeholder="Book {{i}} Msn Number" name="book_{{i}}_msn" required>
                                    </div>  
                                </div>

                            </div>
                        {% endfor %}
                        {%endif%}
                        <div class="row">
                            <div class="col">
                                <input type="submit" class="btn btn-info" value="{% if books %}Save{%else%}Select Books{%endif%}"/>
                            </div>
                        </div>
                    
                    </form>
                    
                    <div class="col">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li {%if 'error' in message.tags %}style="color:red;"{%else%}class="text-info"{%endif%}><b>{{ message }}</b></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    {% endblock %}